body{
	background-color:  #c4cbc9;
}
#formbody{
	 width: 400px;
	display: table-cell;
    
    vertical-align: middle;
    position: absolute;
  	left: 42%;
  	top: 25%;
    
}
#errordisp{
	color: red;
	font-weight: bold;
	font-size: 150%;

}
#submit{
	background-color: #9e9e9e;
	border: none;
	border-radius: 8px;
	position: relative;
	left: 20%;
	padding: 10px 20px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#submit:hover{
	background-color: black;
	color: white; 
    
}

